/vendor
/vendor-bin/**/vendor
.DS_Store
.idea/
Thumbs.db
composer.lock
composer.phar
tests/_output/*
tests/_support/_generated/*
temp/*

yarn.lock
package-lock.json
/node_modules
.build/

# Ignore internal todo-list
.todo.md
tmp.php

# Vuepress
docs/.vuepress/.temp
docs/.vuepress/.cache
docs/.vuepress/dist
docsx/.vuepress/.temp
docsx/.vuepress/.cache
docsx/.vuepress/dist

# Ignore various environment files in root directory
.env
.testing
.production
.locale
.development
/.buildpath
/.project
/.settings
version
phpstan.neon
