parameters:
	level: 0
	paths:
		- packages
		- src
		- tests/Helpers
		- tests/TestCases
		- tests/Integration
		- tests/Unit
	ignoreErrors:
		- '#Unsafe usage of new static#'
		-
			message: '#Class App\\Models\\User not found#'
			path: packages/*