@import url('https://fonts.googleapis.com/css?family=Dosis:400,600|Roboto:400,400i,700|Source+Code+Pro:400,500i&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family 'Dosis', sans-serif;
    font-weight bold;
    letter-spacing 0.2rem;
}

table {
    width: 99%
    display: table
}

.description {
    color: $primary
}

/* Navbar */
header.navbar {
    background-color desaturate(lighten($primary, 15%), 35%)
    border-bottom none
    box-shadow 0 2px 3px 1px darken($arrowBgColor, 75%)

    .site-name,
    .title,
    .links {
        background-color inherit
        color: lighten($textColor, 95%)
    }

    .search-box {
        input {
            width: 8rem
            border-radius 5px;
        }
        input:focus {
            border: 2px solid lighten($secondary, 10%)
        }

        .suggestions {
            width: 95%;

            .suggestion {
                a {
                    width: 100%;
                }

                // Display the path after each search result
                a::after {
                    content: "" attr(href) "";
                    display: block;
                    color: lighten($textColor, 65%)
                    background-color: #EDEDED;
                      font-style italic;
                    width: 100%;
                    padding: 2px;
                }

            }
        }
    }

    li.dropdown-item {
        a {
            color: $textColor
        }
    }
}

@media screen and (min-width: 950px) {
    header.navbar {
        .search-box {
            input {
                width: 25rem
            }
        }
    }
}

/* Sidebar */
.sidebar-group {
    p {
        line-height normal;
    }

    .is-sub-group {
        .sidebar-heading:not(.clickable) {
            opacity: 1 !important;
        }
    }
}

//.sidebar-links li{
//
//    span::after {
//        content: 'package';
//        color: lighten($arrowBgColor, 5%);
//        font-size: 0.8rem;
//        padding: 0 0 0 0.4em;
//    }
//
//    span.arrow::after {
//        content: none;
//    }
//}
//
//.sidebar-links li:first-child {
//    span::after {
//        content: none;
//    }
//}
//
//.sidebar-links li:hover {
//    color: lighten($secondary, 10%);
//}

/* Edit page */
footer.page-edit {
    color: $secondary
}

.last-updated {
    .time {
        color: darken($borderColor, 50%)
    }
}

/* Tips, warnings and danger blocks */
.custom-block {
    &.tip {
        border-color $primary

        .custom-block-title {
            color: $primary
        }
    }

    &.warning {
        border-color $badgeWarningColor
    }

    &.danger {
        border-color $badgeErrorColor
    }
}

/* Code highlighting */
div[class~="language-console"], div[class~="language-shell"]
    &:before
        content "console"

code {
    font-family: 'Source Code Pro', monospace;
    font-weight normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #878787;
}

.token.punctuation {
    color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
    color: $badgeErrorColor;
}

.token.function-name {
    color: lighten($primary, 10%);
}

.token.number {
    color: $borderColor
}

.token.boolean,
.token.function {
    color: lighten($secondary, 25%)
}

.token.class-name {
    font-style italic;
    font-size: 1.1em;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
    color: lighten($secondary, 45%)
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: lighten($primary, 75%);
}

.token.string {
    color: lighten($badgeWarningColor, 50%);
}
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
    color: lighten($primary, 50%)
}

.token.operator,
.token.entity,
.token.url {
    color: lighten($secondary, 25%)
}
