// Custom theme colours
$primary = #006494
$secondary = #0f4c5c

// colors
$accentColor = lighten($primary, 25%)
$textColor = #223244
$borderColor = #eaecef
$codeBgColor = #242a35
$arrowBgColor = #ccc
$badgeTipColor = $primary
$badgeWarningColor = darken(#ffce60, 35%)
$badgeErrorColor = #e84d35

// layout
$navbarHeight = 4rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// Tabs
$tabTitleColour = $primary;

// responsive breakpoints
//$MQNarrow = 959px
//$MQMobile = 719px
//$MQMobileNarrow = 419px

// code
//$lineNumbersWrapperWidth = 3.5rem
//$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
