# --------------------------------------------------------------------------------------------------------- #
# Code analysis and tests workflow
#
# @see https://github.com/shivammathur/setup-php
# @see https://github.com/laravel/framework/blob/9.x/.github/workflows/tests.yml
# --------------------------------------------------------------------------------------------------------- #

name: 'Code Analysis and Tests'
on:
  push:
  pull_request:
      types: [opened, reopened, ready_for_review]

  # Schedule tests to run every day at 06:00 (if possible)
  # Doing so should enable us to capture evt. changes in
  # dependencies that are breaking...
  schedule:
    - cron: '0 6 * * *'

jobs:
  athenaeum_tests:
    name: "Athenaeum (PHP ${{ matrix.php-versions }} on ${{ matrix.operating-system }})"
    runs-on: ${{ matrix.operating-system }}
    concurrency:
        group: "${{ matrix.php-versions }}-${{ matrix.operating-system }}-${{ github.ref }}"
        cancel-in-progress: true

    strategy:
      fail-fast: true
      matrix:

        # See OS and PHP version options on https://github.com/shivammathur/setup-php
        operating-system: [ 'ubuntu-24.04' ]
        php-versions: [ '8.4', '8.5' ]

    steps:

      # ------------------------------------------------------------------------------------------------------- #
      # Checkout code ...
      # ------------------------------------------------------------------------------------------------------- #

      - name: "Checkout"
        uses: actions/checkout@v4

      # ------------------------------------------------------------------------------------------------------- #
      # Setup & configure PHP
      # ------------------------------------------------------------------------------------------------------- #

      - name: "Setup PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

          # PHP Extensions:
          # @see https://github.com/laravel/framework/blob/master/.github/workflows/tests.yml
          extensions: xml, curl, mbstring, zip, pcntl, sqlite3, gd, redis, igbinary, msgpack, memcached, gmp
          #extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, gd, redis, igbinary, msgpack, memcached, gmp, :php-psr
          ini-values: error_reporting=E_ALL
          tools: composer:v2
          coverage: none

      # ------------------------------------------------------------------------------------------------------- #
      # Install dependencies
      # ------------------------------------------------------------------------------------------------------- #

      - name: "Install dependencies"
        run: composer install --no-progress --prefer-dist --no-interaction --optimize-autoloader --ansi

      # ------------------------------------------------------------------------------------------------------- #
      # Run code analysis
      # ------------------------------------------------------------------------------------------------------- #

      - name: "Analysis"
        run: composer run analyse

      - name: "Compatibility check"
        run: composer run check

      - name: "Style check"
        run: composer run cs

      # ------------------------------------------------------------------------------------------------------- #
      # Run tests
      # ------------------------------------------------------------------------------------------------------- #

      - name: "Prepare test environment"
        run: |
          composer run test-env --ansi
          vendor/bin/codecept build

      - name: "Run tests"
        run: vendor/bin/codecept run
